@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-[whitesmoke] font-montserrat font-normal leading-7 text-zinc-700 dark:bg-zinc-800 dark:text-slate-200;
  }

  main {
    @apply mx-auto my-0 min-h-[calc(100vh-10rem)] w-[90vw] max-w-7xl;
  }

  p {
    @apply mb-4;
  }

  img {
    @apply block w-full object-cover;
  }

  h1 {
    @apply mb-6 font-inconsolata text-5xl font-normal capitalize;
  }
  h2 {
    @apply mb-6 font-inconsolata text-4xl font-normal capitalize;
  }
  h3 {
    @apply mb-6 font-inconsolata text-3xl font-normal capitalize;
  }
  h4 {
    @apply mb-6 font-inconsolata text-2xl font-normal capitalize;
  }
}
