@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-montserrat: var(--font-montserrat);
  --font-inconsolata: var(--font-inconsolata);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-montserrat bg-[whitesmoke] leading-7 font-normal text-zinc-700 dark:bg-zinc-800 dark:text-slate-200;
  }

  main {
    @apply mx-auto my-0 min-h-[calc(100vh-10rem)] w-[90vw] max-w-7xl;
  }

  p {
    @apply mb-4;
  }

  img {
    @apply block w-full object-cover;
  }

  h1 {
    @apply font-inconsolata mb-6 text-5xl font-normal capitalize;
  }
  h2 {
    @apply font-inconsolata mb-6 text-4xl font-normal capitalize;
  }
  h3 {
    @apply font-inconsolata mb-6 text-3xl font-normal capitalize;
  }
  h4 {
    @apply font-inconsolata mb-6 text-2xl font-normal capitalize;
  }
}
